@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import "tailwindcss";


body,
p,
li,
span,
a,
button,
input,
textarea,
select,
label {
    font-family: "Inter", sans-serif;
    font-weight: 400;}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Inter", sans-serif;
    font-weight: 700;}

.font-fira {
    font-family: "Fira Sans", sans-serif;
}


@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-8px); }
    75% { transform: translateX(8px); }
}

.animate-shake {
    animation: shake 0.3s ease-in-out;
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}



